{% extends "base_template.html" %}

{% block content %}
    {% if user %}
        <div class="titleBanner">
            {% include "banner.html" %}
            <span class="new">[<a href="javascript:undefined" onclick="openPost()">New Post</a>]</span>
            <div class="postForm" id="postForm">
                <form action="/post/create" method="post">
                    <div>
                        <label for="newSubject">Subject: </label><br>
                        <input type="text" name="newSubject" id="newSubject">
                    </div>
                    <div>
                        <label for="newComment">Comment: </label><br>
                        <textarea name="newComment" id="newComment" rows="4" cols="50"></textarea>
                    </div>
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
        <hr>
        {% if posts.count() > 0 %}
            {% for post in posts %}
                <div class="post">
                    {% include "post.html" %}
                    {% if post.replies %}
                        {% if post.numOfReplies > 5%}
                            <span class="post">{{post.numOfReplies - 5}} replies omitted. <a href="/post/show?id={{post.key.urlsafe()}}">Click here</a> to view.</span>
                        {% endif %}
                        {% for reply in post.replies %}
                           {% include "reply.html" %}
                        {% endfor %}
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <div><span class="post">No posts yet.</span></div>
            <hr>
        {% endif %}
    {% else %}
        <div class="titleBanner">
            <span class="title">Yotsuba Channel よつば☆ちゃんねる</span><br>
            <span class="new">[<a href="{{url_user}}">Log in</a>]</span>
        </div>
        <hr>
    {% endif %}
{% endblock %}