<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yotsuba Channel</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="titleBanner">
      <span class="title">Yotsuba Channel よつば☆ちゃんねる</span><br>
      <span class="new">[<a href="#" onclick="openPost()">New Post</a>]</span>
      <div class="postForm" id="postForm">
        <form action="/newPost" method="post">
          <div>
            <label for="newSubject">Subject: </label><br>
            <input type="text" name="newSubject" id="newSubject">
          </div>
          <div>
            <label for="newComment">Comment: </label><br>
            <textarea name="newComment" id="newComment" rows="4" cols="50"></textarea>
          </div>
          <button type="submit">Post</button>
        </form>
      </div>
    </div>
    <hr>
    {% if posts.count() > 0 %}
      {% for post in posts %}
        <div class="post">
          <div>
            <span class="subject">{{post.subject}}</span>
            <span class="name">Anonymous</span>
            <span>{{post.hora}}</span>
            <span>[<a href="#" onclick="openReply('{{post.key.id()}}')">Reply</a>]</span>
            <div class="replyForm" id="replyForm{{post.key.id()}}">
              <form action="/newReply" method="post">
                <div>
                  <label for="newReply">Reply to <span class="name">Anonymus</span></label><br>
                  <textarea name="newReply" id="newReply" rows="4" cols="50"></textarea>
                  <input hidden="hidden" name="post_id" value="{{post.key.id()}}">
                </div>
                <button type="submit">Reply</button>
              </form>
            </div>
            <blockquote>
              {{post.comment}}
            </blockquote>
          </div>

          {% if post.replies %}
            {% for reply in post.replies %}
              <div class="post reply">
                <div>
                  <span class="name">Anonymous</span>
                  <span>{{reply.hora}}</span>
                </div>
                <blockquote>
                  {{reply.comment}}
                </blockquote>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <hr>
      {% endfor %}
    {% else %}
      <div><span>No posts yet.</span></div>
      <hr>
    {% endif %}
  </body>
</html>