{% extends "base_template.html" %}

{% block content %}
    <div class="titleBanner">
        {% include "banner.html" %}
        <span class="new">[<a href="javascript:undefined" onclick="openPost()">New Reply</a>]</span>
        <div class="postForm" id="postForm">
            <form action="/reply/create" method="post">
                <div>
                    <label for="newReply">Reply to <span class="name">{{user.split("@")[0]}}</span></label><br>
                    <textarea name="newReply" id="newReply" rows="4" cols="50"></textarea>
                    <input hidden="hidden" name="id" value="{{post.key.urlsafe()}}">
                </div>
                <button type="submit">Reply</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="post">
        {% include "post.html" %}
        {% if replies %}
            {% for reply in replies %}
                {% include "reply.html" %}
            {% endfor %}
        {% endif %}
    </div>
    <hr>
{% endblock %}
